# Home directory
.sudo_as_admin_successful
.gnupg
.wget-hsts
.bash_profile
/.cache
/.pki
/.ssh
/.local
.bash_history
/.dotnet
/.gitconfig
/.profile
/.bash_logout

# VSCode
/.vscode/*

# Ignore everything inside the .config directory
.config/*
# But allow the Code subdirectory to be tracked
!.config/Code
# Ignore everything inside Code except the User subdirectory
.config/Code/*
!.config/Code/User
# Ignore everything inside User except the two specific JSON files
.config/Code/User/*
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

# Claude
.claude.json
/.claude
.worktrees/

# Your project specific
go.tar.gz
/go
/dominion-grpc/*